<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>SparkFilter</filter-name>
        <filter-class>spark.servlet.SparkFilter</filter-class>
        <init-param>
            <param-name>applicationClass</param-name>
            <param-value>spark.servlet.MyApp</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SparkFilter</filter-name>
        <url-pattern>/filter/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SparkServlet</servlet-name>
        <servlet-class>spark.servlet.SparkServlet</servlet-class>
        <init-param>
            <param-name>applicationName</param-name>
            <param-value>spark.servlet.MyServletServedApp1,spark.servlet.MyServletServedApp2
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SparkServlet</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SparkServlet2</servlet-name>
        <servlet-class>spark.servlet.SparkServlet</servlet-class>
        <init-param>
            <param-name>applicationName</param-name>
            <param-value>spark.servlet.MyServletServedApp3</param-value>
        </init-param>
        <init-param>
            <param-name>wrapperSupplierName</param-name>
            <param-value>spark.servlet.WrapperSupplier</param-value>
        </init-param>
        <init-param>
            <param-name>filterMappingUrlPattern</param-name>
            <param-value>/servlet2/*</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>SparkServlet2</servlet-name>
        <url-pattern>/servlet2/*</url-pattern>
    </servlet-mapping>
</web-app>
