<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<conversionRule conversionWord="error" 
                  converterClass="org.technbolts.logback.ErrorLevelConverter" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
	  	</encoder>
	</appender>

	<logger name="spark" level="debug" />
	<logger name="org.eclipse.jetty" level="warn" />

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
