body {
    background-color: #9FAAB7;
    color: #9FAAB7;
    text-shadow: 1px 1px 0 #272C30;
    font-family: "Helvetica Neue",Helvetica,"Droid Sans",sans-serif;
}
div.metrics {
    width: 600px;
    float: left;
    margin: 5px;
}

div.warning {
    width: 590px;
    margin: 5px;
    padding: 10px;
    background-color: #272C30;
    background-image: linear-gradient(left center , #272C30, #3E454C);
    background-image: -moz-linear-gradient(left center , #272C30, #3E454C);
    background-image: -webkit-gradient(left center , #272C30, #3E454C);
    background-image: -ms-linear-gradient(left center , #272C30, #3E454C);
    background-image: -o-linear-gradient(left center , #272C30, #3E454C);
    border-radius: 3px 3px 3px 3px;
    color: #ffffaf;
    font-size: 12px;
}

div.warning a {
    color: yellow;
}


.clear {
    clear: both;
}


